@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Course
<form asp-action="Update" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="MaxDegree" class="col-form-label"></label>
        <input asp-for="MaxDegree" class="form-control" />
        <span asp-validation-for="MaxDegree" class="text-danger"></span>

 
    </div>
    <div class="form-group">
        <label asp-for="MinDegree" class="col-form-label"></label>
        <input asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>


    </div>

    <input type="submit" value="Update" class="btn btn-primary" />
    <a asp-controller="Course" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>