@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CourseResults
@{
}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Course</h5>
        <p class="card-text">
            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Model.Degree</td>
                <td>@Model.Trainee.Name</td>
                <td>@Model.Course.Name</td>
            </tr>
        </p>
        <a href="/CourseResult/Index" class="btn btn-primary">Back</a>
    </div>
</div>